@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pop {
  0% { transform: scale(0.7); opacity: 0.5; }
  80% { transform: scale(1.2); }
  100% { transform: scale(1); opacity: 1; }
}
.animate-pop {
  animation: pop 0.3s ease-out;
}

::-webkit-scrollbar { 
  display: none; 
}
body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  font-family: 'Quicksand', sans-serif;
}